h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

body{
    background-color: burlywood;
}

p{
    text-align: center;
}
.namal{
    color: blueviolet;
}
.namap{
    color: blueviolet;
}
.kelasr{
   color: hotpink;
}
.alamatk{
    color: mediumpurple;
}
.HOBIr{
    color: palegreen;
}
.cita-cita{
    color: fuchsia;
}
.quete{
    
}